
:root 
{
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-red: #FF0000;
	--font-format:  bold 18px Calibri;
	--canvas-border: 2px solid #FFFFFF;
	--body-padding: 25px;
	--image-url: url(../assets/sprites/space.jpg);
}

body 
{
	background: var(--color-black);
	text-align: center;
	padding: var(--body-padding);
	background-image: var(--image-url);
	background-size: cover;
    background-repeat: no-repeat
}

canvas
{
	border: var(--canvas-border);
	cursor: none;
}

a 
{
	color: var(--color-red);
}

#top_menu
{
	background: var(--color-black);
	font: var(--font-format);
}

#message
{
	background: var(--color-black);
	font: var(--font-format);
	color: var(--color-red);
}

